.bg-event-card{
background: rgba(103, 95, 95, 0.13);
border-radius: 16px;
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
/* backdrop-filter: blur(7.9px);
-webkit-backdrop-filter: blur(7.9px); */
border: 1px solid rgba(103, 95, 95, 0.13);
}


.bg-button{
background: rgba(88, 81, 81, 1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
/* backdrop-filter: blur(19.7px);
-webkit-backdrop-filter: blur(19.7px); */
border: 1px solid rgba(88, 81, 81, 1);
}

