.bg-event-card{
    background: rgba(66, 64, 64, 0.9);
    border-radius: 16px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 3px 10px rgba(243, 241, 241, 0.952);
    /* backdrop-filter: blur(19px); */
    /* -webkit-backdrop-filter: blur(19px); */
    border: 1px solid rgba(66, 64, 64, 1);
}


.bg-button{
/* From https://css.glass */
background: rgba(88, 81, 81, 1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
/* backdrop-filter: blur(19.7px);
-webkit-backdrop-filter: blur(19.7px); */
border: 1px solid rgba(88, 81, 81, 1);
}