.bg-frame{
    /* From https://css.glass */
background: rgba(24, 26, 27, 0.67);
border-radius: 8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.3px);
-webkit-backdrop-filter: blur(13.3px);
border: 1px solid rgba(24, 26, 27, 1);
}